@model TaskManager.Models.TaskItem

<h2>Edit Task</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <p>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
    </p>

    <p>
        <label asp-for="Content"></label><br />
        <input asp-for="Content" />
    </p>

    <p>
        <label asp-for="isCompleted"></label><br />
        <select asp-for="isCompleted">
            <option value="false">Pending</option>
            <option value="true">Done</option>
        </select>
    </p>

    <p>
        <label asp-for="Details.Note"></label><br />
        <input asp-for="Details.Note" />
    
    </p>
    <p>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
    </p>

    <button type="submit">Save</button>
    <a asp-action="Overview" asp-controller="Tasks">Cancel</a>
</form>
